.buttonrow {
  justify-content: space-evenly;
}

button {
  outline: none!important;
}

.btn-primary:not(:disabled):not(.disabled), .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}