.buttonrow {
  justify-content: space-evenly;
}

button {
  outline: none!important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}